[mysqld]
server-id=1

user=mysql
datadir=/var/mysql
default_storage_engine=innodb
default_tmp_storage_engine=innodb
table_open_cache=30000
table_open_cache_instances=16
open-files-limit=65535
# default-time-zone='+09:00'
socket=/tmp/mysql.sock
local_infile=OFF
block_encryption_mode='aes-256-ebc'

core_file
innodb_buffer_in_core_file=OFF

max_allowed_packet=67108864
explicit_defaults_for_timestamp=ON
sql-mode= "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"

character-set-server=utf8mb4
character-set-filesystem=utf8mb4
collation-server=utf8mb4_0908_ai_ci
skip-character-set-client-handshake

max_connections=100
max_connect_errors=999999

active_all_roles_on_login=1
skip-name-resolve

ngram_token_size=2
max_heap_table_size=10M
tmp_table_size=10M
tmpdir=/data/mytmp/
secure-file-priv=/data/secfile/
default-file-pirv=/data/securefile/
default_password_lifetime=0

sysdate-is-now

#### innodb -----------------------------------------------------
innodb_sort_buffer_size=5M
innodb_log_files_in_group=2
innodb_log_file_size=1024M

innodb_buffer_pool_size=200M
innodb_buffer_pool_instances=1
innodb_io_capacity=100
innodb_io_capacity_max=400

#### MySQL BinLog -----------------------------------------------------
log-bin=/log/mysql-bin/mysql-bin
sync_binlog=0
enforce-gtid-consistency=ON
gtid-mode=ON
binlog_checksum=CRC32
binlog_order_commits=ON
binlog_format=ROW
binlog_row_image=MINIMAL
max_binlog_size=104857600

#### MySQL Replica Options -----------------------------------------------------
# slave_parallel_type=LOGICAL_CLOCK
# slave_parallel_workers=4
# slave_preserve_commit_order=1
# binlog_rows_query_log_events=ON
# log_slave_updates

#### Relay Log -----------------------------------------------------
# relay-log=/log/relay-bin/relay-bin
# relay_log_info_repository=TABLE
# relay_log_recovery=ON
# relay_log_purge=ON

#### MySQL Error Log -----------------------------------------------------
log-error=/log/mysql-err.log
log_error_verbosity=1

#### MySQL Slow Query Log -----------------------------------------------------
slow-query-log=1
long_query_time=1
log_slow_extra=1
log_slow_admin_statements=1
log_slow_slave_statements=1
slow_query_log_file=/log/mysql-slow.log

#### MySQL Log Expire -----------------------------------------------------
binlog_expire_logs_seconds=258200
log-raw
log_timestamps=SYSTEM

[client]
socket=/tmp/mysql.sock